* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	padding: 0 20%;
	background-color: black;
	color: white;
}

.container {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto;
	padding: 1em 0px;
	margin-bottom: 4em;
}

.nav {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.btn {
	display: flex;
	justify-content: flex-end;
}

a {
	text-decoration: none;
	color: rgb(123, 118, 118);
	padding: 0.5em 0px;
	width: 100%;
}

.active {
	color: white;
}

button {
	border: none;
	padding: 0.5em;
	background-color: gray;
	text-align: center;
	border-radius: 10px;
	color: rgb(204, 192, 192);
}

.material-icons {
	vertical-align: middle;
}

.container1 {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto;
	margin-bottom: 4em;
}

.about {
	grid-row: 1/ 2;
	grid-column: 1/ 3;
}

.head1 {
	font-size: 52px;
	font-weight: bolder;
	margin-bottom: 10px;
}

.head2 {
	font-size: 18px;
	font-weight: bold;
	color: rgb(184, 182, 182);
	margin-bottom: 20px;
}

.image {
	grid-row: 1/ 2;
	grid-column: 2/ 3;
	display: flex;
	justify-content: flex-end;
}

img.img {
	border-radius: 50%;
	width: 130px;
	height: 130px;
}

.para1 {
	color: rgb(99, 97, 97);
	max-width: 500px;
}

.container2 {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto;
	margin-bottom: 2em;
}

.head3 {
	font-size: 32px;
	grid-row: 1/ 2;
	grid-column: 1/ 5;
	font-weight: bolder;
	margin-bottom: 20px;
}

.box1 {
	border-radius: 7px;
	grid-row: 2/ 2;
	grid-column: 1/ 1;
	position: relative;
	background: linear-gradient(to right, rgb(142, 147, 235), purple);
	padding: 3px;
}

.gra1 {
	background: rgb(0, 0, 0);
	color: white;
	padding: 1rem;
	border-radius: 7px;
}

.box2 {
	border-radius: 7px;
	grid-row: 2/ 2;
	grid-column: 3/ 3;
	position: relative;
	background: linear-gradient(to right, rgb(224, 224, 105), rgb(243, 83, 83), white);
	padding: 3px;
}

.gra2 {
	background: rgb(0, 0, 0);
	color: white;
	padding: 1rem;
	border-radius: 7px;
}

.box3 {
	border-radius: 7px;
	grid-row: 2/ 2;
	grid-column: 5/ 5;
	position: relative;
	background: linear-gradient(to right, rgb(23, 123, 63), rgb(6, 126, 231), rgb(6, 6, 118));
	padding: 3px;
}

.gra3 {
	background: rgb(0, 0, 0);
	color: white;
	padding: 1rem;
	padding-right: 30px;
	border-radius: 7px;
}

.para2 {
	height: 170px;
}

.p1 {
	width: 170px;
}

.p2 {
	width: 180px;
}

.p3 {
	width: 150px;
}

@media screen and (max-width: 990px) {
	body {
		text-align: center;
	}
	.nav {
		grid-column: 1/ 3;
		flex-flow: column;
		text-align: center;
	}

	.active {
		background-color: gray;
	}

	.btn {
		grid-row: 2/ 3;
		grid-column: 1/ 3;
		width: 100%;
		align-items: center;
		justify-content: center;
	}

	.about {
		grid-row: 1/ 2;
		grid-column: 1/ 3;
		width: 100%;
		margin-bottom: 2em;
	}

	.image {
		grid-row: 2/ 2;
		grid-column: 1/ 3;
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.head3 {
		font-size: 32px;
		grid-row: 1/ 2;
		grid-column: 1/ 5;
		font-weight: bolder;
		margin-bottom: 20px;
		display: flex;
		justify-content: center;
		width: 100%;
	}

	.box { 
		margin-bottom: 2em;
	}

	.box1 {
		border-radius: 7px;
		grid-row: 2/ 2;
		grid-column: 1/ 5;
		position: relative;
		background: linear-gradient(to right, rgb(142, 147, 235), purple);
		padding: 3px;
	}
	
	.gra1 {
		background: rgb(0, 0, 0);
		color: white;
		padding: 1rem;
		border-radius: 7px;
	}
	
	.box2 {
		border-radius: 7px;
		grid-row: 3/ 3;
		grid-column: 1/ 5;
		position: relative;
		background: linear-gradient(to right, rgb(224, 224, 105), rgb(243, 83, 83), white);
		padding: 3px;
	}
	
	.gra2 {
		background: rgb(0, 0, 0);
		color: white;
		padding: 1rem;
		border-radius: 7px;
	}
	
	.box3 {
		border-radius: 7px;
		grid-row: 4/ 4;
		grid-column: 1/ 5;
		position: relative;
		background: linear-gradient(to right, rgb(23, 123, 63), rgb(6, 126, 231), rgb(6, 6, 118));
		padding: 3px;
	}
	
	.gra3 {
		background: rgb(0, 0, 0);
		color: white;
		padding: 1rem;
		padding-right: 30px;
		border-radius: 7px;
	}
	
	.para2 {
		height: 150px;
	}
	
	.p1 {
		text-align: center;
		width: 100%;
	}
	
	.p2 {
		width: 100%;
	}
	
	.p3 {
		width: 100%;
	}
}